<div class="mainbar">
  <%= link_to 'Cталкер', root_path, method: 'get', class: 'mainbar_button' %>
  <%= link_to 'Локации', root_path, method: 'get', class: 'mainbar_button' %>
  <%= link_to 'Рейтинг', root_path, method: 'get', class: 'mainbar_button' %>
</div>