/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: "Verdana", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin-right: 10%;
    margin-left: 14%;
    color: whitesmoke;
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}
.flash {
    position: fixed;
    top: 52px;
    right: 5px;
    width: auto;
    height:40px;
    float: left;
    margin-top: 0;

}
.mainbar {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  width: auto;
  height: 30px;
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.76);
}
.mainbar_button {
  height: 100%;
  width: 100px;
  float: left;
  text-align: center;
  color: white;
  padding-top: 4px;
}
.mainbar_button:hover {
  text-decoration: none;
  background: rgba(255, 252, 235, 0.98);
}
.mainbar_button:active {
  text-decoration: none;
  background: rgba(255, 252, 235, 0.98);
}
