// Place all the styles related to the factory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.factory_conteiner {
  margin-top: 50px;
  margin-left: 15%;
  width: 700px;
  border: solid 1px green;
}
.factory_name {
  text-align: center;
}