// Place all the styles related to the factory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.factory_conteiner {
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: #999999;
  border-collapse: collapse;
}
.factory_name {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.22);
  color: whitesmoke;
}
.factory_description {
  text-align: center;
  width: 435px;
  float: left;
  color: whitesmoke;
}
.factory_info {
  width: 300px;
 /* border: solid 1px green;*/
  margin-top: 100px;
  color: whitesmoke;
}
.factory_img {
  float: right;
  color: whitesmoke;
}
.factory_work {
  margin-top: 40px;
  color: whitesmoke;
}