// Place all the styles related to the factory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.factory_conteiner {
  margin-top: 50px;
  margin-left: 15%;
  width: 700px;
  height: 422px;
  border: solid 1px green;
}
.factory_name {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.22);
}
.factory_description {
  text-align: center;
  width: 435px;
  float: left;
}
.factory_info {
  width: 300px;
  border: solid 1px green;
  margin-top: 100px;
}
.factory_img {
  float: right;
}
.factory_work {
  margin-top: 40px;
}