// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items_conteiner {
  margin-top: 50px;
  margin-left: 15%;
  width: 700px;
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: #999999;
  border-collapse: collapse;
}
.item_name {
  border-collapse: collapse;
  border: 1px #5D413A solid;
  BACKGROUND-COLOR: rgba(56, 60, 55, 0.71);
  padding: 5px;
  color: whitesmoke;

}
.item_picture {
  border-collapse: collapse;
  border: 1px #5D413A solid;
  padding-top: 20px;
}
.item_description {
  padding: 10px;
  color: whitesmoke;
}
table {
  width: 700px;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  text-align: start;
  margin-bottom: 15px;
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: #999999;
  border-collapse: collapse;
}