// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_name {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}
.user_name a {
  color: whitesmoke;
}
.user_name a:hover {
  text-decoration: none;
  color: white;
}
.user_name a:active {
  text-decoration: none;
  color: white;
}


.user_profile {
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: whitesmoke;
  border-collapse: collapse;
}
.user_char {
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: whitesmoke;
  border-collapse: collapse;
  }

.services {
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: whitesmoke;
  border-collapse: collapse;
}

.services_button {
  color: whitesmoke;
  margin-left: 10px;
  }