// Place all the styles related to the user_item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inv_bg {
  background-image: url('stalker_inventar_bg.png');
  background-repeat: no-repeat;
  background-position: left;
  float: left;
  border: solid 1px rgba(248, 248, 255, 0.21);
  color: #999999;
  border-collapse: collapse;
}

#inv_table {
  width: 100px;
  height: 400px;
  margin-left: 190px;
}
#inv_table td {
  border: solid 1px rgba(248, 248, 255, 0.21);
  color: #999999;
  border-collapse: collapse;
  height: 99px;
 }

.inv_item_name {
  border-collapse: collapse;
  border: 1px #5D413A solid;
  BACKGROUND-COLOR: rgba(56, 60, 55, 0.71);
  padding: 5px;
  color: whitesmoke;

}
.inv_item_picture {
  border-collapse: collapse;
  border: 1px #5D413A solid;
  padding-top: 20px;
}
.inv_item_description {
  padding: 10px;
  color: whitesmoke;
  font-size: 14px;
}
.inv_table_item {
  width: 600px;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  text-align: start;
  margin-bottom: 15px;
  border: solid 1px rgba(248, 248, 255, 0.58);
  color: #999999;
  border-collapse: collapse;
}
.soldform {
  display: none;
  border: none;
}