// Place all the styles related to the user_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info_conteiner {
  margin-top: 50px;
  width: 95%;
  height: 90%;
  border: solid 1px white;

}
.user_name {

}