<div class="user_info_conteiner">
  <div class="user_name">
    <%= @user.name %>
  </div>
  <div class="user_characteristic">
   Здоровя : <%= @user.user_profile.health %> <br>
   Выносливость : <%= @user.user_profile.endurance %> <br>
  </div>
</div>